# Directories
.idea/
__pycache__/

#data/
#runs/

dataset_dataloader_09/data/
dataset_dataloader_09/data/

digit_recognition_13/data/
digit_recognition_13/runs/

image_recognition_14/data/
image_recognition_14/runs/

transfer_learning_15/data
transfer_learning_15/runs

rnn_lstm_18/data/
rnn_lstm_18/runs/

# Files
